.card {
    margin-top: -50px;
    margin-bottom: 160px;
    padding: 0;
    position: relative;
    border-color: #ccc;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .card .card-icon {
    height: 25px;
    margin-bottom: 15px;
    position: relative;
  }
  .card .card-icon .icon-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 25px;
    margin: auto;
    height: 60px;
    width: 60px;
    background:#007bff;
    color: #fff;
    transform: rotate(45deg);
    border-radius: 4px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.55);
  }
  .card .card-icon .icon-container i.fa {
    transform: rotate(-45deg);
    display: block;
    font-size: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    margin: auto;
  }
  .card .card-body {
    padding: 20px 15px;
    text-align: center;
  }
  .card .card-body span {
    display: block;
  }
  .card .card-body button.btn {
    display: block;
    margin: 15px auto -40px auto;
    text-transform: uppercase;
    background: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  .card:hover {
    border-color: #007bff;

  }
  


  .card:hover .card-icon .icon-container {
    background: #007bff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  }
  