



  


  /*ICONE RÉSEAUX SOCIAUX */

  .link-icon {

    width: 50px;
    height: 50px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.link-icon:hover {

  width: 50px;
  height: 50px;
  opacity: 0.8;
  cursor: pointer;

}

.link-icon:active {

  opacity: 0.5;

}

.footer-link{
    text-align: right;
    
  }

