

.item1 { grid-area: center; }
.item2 { grid-area: center; }
.item3 { grid-area: center; }


.grid-container {
  display: grid;
  grid-template-areas:
   
    'main main main right right'
    
  grid-gap: 10px;
  background-color: #f1f2f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(4, 38, 134, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}